<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <h1>Pasarela de pago</h1>
    <form action="" method="post">
        <div>
            <label for="">Tarjeta</label>
            <input name="tarjeta" type="text">
        </div>
        <div>
            <label for="">CVV</label>
            <input name="cvv" type="text">
        </div>
        <div>
            <label for="">Fecha caducidad</label>
            <input name="fecha_caducidad" type="text">
        </div>
    </form>
    <button type="submit">Confirmar</button>
    <a href="./pedido_final.html"><button>Confirmar prueba</button></a>
</body>
</html>