<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
</head>
<body>
    <h1>REGISTER</h1>
    <form action="" method="post">
        <div>
            <label for="">Fullname:</label>
            <input name="fullname" type="text">
        </div>
        <div>
            <label for="">Email:</label>
            <input name="email" type="email">
        </div>
        <div>
            <label for="">Password:</label>
            <input name="password" type="password">
        </div>
        <div>
            <button type="submit">Registrarme</button>
        </div>
    </form>
    <a href="./login.html">Inicia sesion</a>
</body>
</html>