<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
</head>
<body>
    <h1>Bienvenido a la tienda {}</h1>
    <div>
        <img src="{}" alt="Monitor">
        <div>
            <span>{}</span>
            <span>{}</span>
        </div>
        <form action="" method="post">
            <button>Añadir</button>
        </form>
    </div>
    <br>

    <a href="./carrito.html"><button>Carrito</button></a>
    <br>
    <a href="./login.html"><button>Cerrar sesion</button></a>
</body>
</html>